@import "whitespace-reset.css";
* {
  box-sizing: border-box;
}
a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
html {
  overflow-x: hidden;
}
body {
  position: relative;
  font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #747474;
  background-color: #181818;
  overflow-x: hidden;
  z-index: 1;
}
#music_player_wrapper,
main {
  width: 1000px;
  margin: 0 auto;
}
#music_player_wrapper {
  position: relative;
  z-index: 5;
  padding: 20px 40px 0 40px;
  background-color: #181818;
}
#music_player_wrapper #canvas_wrapper {
  position: relative;
}
#music_player_wrapper #canvas_wrapper h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30px;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 2.5px;
  color: #fff;
}
#music_player_wrapper #player {
  width: 500px;
  margin: 0 auto;
}
#music_player_wrapper #player dl {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}
#music_player_wrapper #player dl dt,
#music_player_wrapper #player dl dd {
  padding: 0 10px;
  display: inline-block;
  letter-spacing: 1.3px;
}
#music_player_wrapper #player dl dt {
  width: 40%;
  font-size: 13px;
  text-align: right;
}
#music_player_wrapper #player dl dd {
  width: 60%;
  font-size: 15px;
  text-align: left;
  color: #bbb7b7;
}
#music_player_wrapper #player audio {
  width: 100%;
  margin: 0 auto;
  background-color: #181818;
  border: 2px solid #747474;
}
main {
  background-color: #181818;
}
main h2 {
  font-weight: bold;
  font-size: 14px;
}
main h3 {
  font-weight: normal;
}
#content {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}
#content #index_view {
  position: relative;
  z-index: 5;
}
#content #index_view ul {
  padding: 20px;
}
#content #index_view ul li {
  display: inline-block;
  width: 50%;
  padding: 20px;
}
#content #index_view ul li a img {
  width: 100%;
  border: 1px solid #747474;
}
#content #index_view ul li:hover img {
  border-color: #fff;
}
#content #album_wrapper {
  padding-top: 40px;
}
#content #album_wrapper .col1,
#content #album_wrapper .col2 {
  display: inline-block;
  width: 50%;
  position: relative;
  vertical-align: top;
  z-index: 5;
}
#content #album_wrapper .col1 a:hover {
  text-decoration: underline;
}
#content #album_wrapper .col1 h1 {
  padding-bottom: 5px;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #bbb7b7;
}
#content #album_wrapper .col1 h1 + h2 {
  font-weight: normal;
}
#content #album_wrapper .col1 h1 + h2 strong {
  font-weight: bold;
  letter-spacing: 1.3px;
}
#content #album_wrapper .col1 .download {
  padding: 25px 0;
}
#content #album_wrapper .col1 .download h3 {
  font-size: 14px;
}
#content #album_wrapper .col1 .download h2 {
  font-size: 16px;
}
#content #album_wrapper .col1 .download #videoLink {
  display: inline-block;
  padding-top: 10px;
  color: #409c9c;
}
#content #album_wrapper .col1 #tracks_list {
  list-style-type: decimal;
  padding-left: 35px;
}
#content #album_wrapper .col1 #tracks_list li {
  position: relative;
  color: #bbb7b7;
  padding: 5px 0;
}
#content #album_wrapper .col1 #tracks_list li dt,
#content #album_wrapper .col1 #tracks_list li dd {
  display: inline-block;
  padding: 0 10px 0 5px;
}
#content #album_wrapper .col1 #tracks_list li dt {
  color: #747474;
}
#content #album_wrapper .col1 #tracks_list li div {
  position: absolute;
  display: inline-block;
  top: 4px;
  left: -35px;
}
#content #album_wrapper .col1 #tracks_list li div:hover {
  cursor: pointer;
}
#content #album_wrapper .col1 #tracks_list li .play_icon,
#content #album_wrapper .col1 #tracks_list li .play_icon_current {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
#content #album_wrapper .col1 #tracks_list li .play_icon {
  border-left: 10px solid #747474;
}
#content #album_wrapper .col1 #tracks_list li .play_icon_current {
  border-left: 10px solid #409c9c;
}
#content #album_wrapper .col1 #tracks_list li .pause_icon {
  display: inline-block;
  width: 12px;
  height: 14px;
  border-right: 4px solid #409c9c;
  border-left: 4px solid #409c9c;
}
#content #album_wrapper .col1 #album_info {
  padding-top: 10px;
}
#content #album_wrapper .col1 #album_info li {
  padding: 10px 0;
}
#content #album_wrapper .col1 #album_info li h3 strong {
  font-weight: normal;
  color: #bbb7b7;
}
#content #album_wrapper .col2 .featured_album_cover {
  display: block;
  margin-bottom: 15px;
  border: 1px solid #747474;
}
#content #album_wrapper .col2 label img,
#content #album_wrapper .col2 label h2 {
  display: inline-block;
}
#content #album_wrapper .col2 label img:hover,
#content #album_wrapper .col2 label h2:hover {
  cursor: pointer;
  text-decoration: underline;
}
#content #album_wrapper .col2 label img {
  padding-right: 5px;
}
#content #album_wrapper .col2 label h2 {
  letter-spacing: 1.3px;
}
#content #album_wrapper .col2 #share_dropdown {
  display: none;
  position: relative;
  padding: 20px;
  margin-top: 20px;
  margin-right: 48px;
  background-color: #bbb7b7;
  border: 2px solid #747474;
  color: #181818;
  z-index: 5;
}
#content #album_wrapper .col2 #share_dropdown #share_arrow,
#content #album_wrapper .col2 #share_dropdown #share_arrow_border {
  position: absolute;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#content #album_wrapper .col2 #share_dropdown #share_arrow {
  top: -15px;
  border-bottom: 15px solid #bbb7b7;
  z-index: 6;
}
#content #album_wrapper .col2 #share_dropdown #share_arrow_border {
  top: -17px;
  border-bottom: 15px solid #747474;
}
#content #album_wrapper .col2 #share_dropdown #social_media_logos li {
  display: inline-block;
  width: 25%;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #747474;
}
#content #album_wrapper .col2 #share_dropdown label {
  font-size: 13px;
  font-weight: bold;
}
#content #album_wrapper .col2 #share_dropdown input[type="text"] {
  width: 85%;
  padding: 5px;
  border: 1px solid #747474;
  margin-left: 5px;
  font: normal 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#content #album_wrapper .col2 #share:checked + #share_dropdown {
  display: block;
}
#sidebar {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  padding: 40px 40px 40px 0;
  position: relative;
  z-index: 5;
}
#sidebar h2 {
  color: #bbb7b7;
  letter-spacing: 1.3px;
}
#sidebar #sidebar_artist_name {
  padding-bottom: 5px;
}
#sidebar #follow_button {
  display: block;
  padding: 5px;
  margin: 15px 20px 25px 0;
  border: 1px solid #747474;
  border-radius: 3px;
  background-color: #bbb7b7;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #181818;
}
#sidebar #follow_button:hover {
  cursor: pointer;
  text-decoration: underline;
}
#sidebar #follow_checkbox:checked + #follow_button {
  background-color: #409c9c;
  content: "Following";
}
#sidebar #discography #discography_head {
  padding: 0 0 20px 0;
}
#sidebar #discography #discography_head:hover {
  text-decoration: underline;
}
#sidebar #discography ul {
  width: 100%;
  padding-bottom: 20px;
}
#sidebar #discography ul li {
  padding-bottom: 15px;
}
#sidebar #discography ul li a img {
  width: 100%;
  border: 1px solid #747474;
}
#sidebar #discography ul li:hover h2 {
  color: #fff;
}
#sidebar #discography ul li:hover img {
  border-color: #fff;
}
#sidebar #discography + h3 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.3px;
}
#sidebar a.help_link {
  display: block;
  padding-top: 10px;
}
#sidebar a.help_link:hover {
  text-decoration: underline;
}
#background_design {
  position: absolute;
  bottom: 50px;
  z-index: 2;
}
footer {
  clear: both;
  background-color: #252525;
  border-top: 1px solid #747474;
  color: #bbb7b7;
}
footer dl {
  width: 1000px;
  margin: 0 auto;
  padding: 15px 40px;
  overflow: hidden;
}
footer dl dt {
  display: inline-block;
  float: left;
}
footer dl dt img {
  display: inline-block;
  padding-right: 10px;
}
footer dl dt h2 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.3px;
}
footer dl dd {
  display: inline-block;
  float: right;
}
footer dl dd ul li {
  display: inline-block;
  padding-left: 15px;
}
footer dl dd ul li a:hover {
  text-decoration: underline;
}
#error_message {
  margin: 100px 0 250px 0;
  text-align: center;
  color: #409c9c;
}
#error_message h1 {
  font-size: 40px;
}
#error_message h2 {
  font-size: 30px;
}
@media (max-device-width: 1200px) {
  #background_design {
    width: 1024px;
  }
  #content #album_wrapper .col1,
  #content #album_wrapper .col2 {
    padding-left: 20px;
    width: 100%;
  }
  #content #album_wrapper .col2 .featured_album_cover {
    width: 70%;
  }
}
@media (max-width: 1000px) {
  main {
    padding-bottom: 25px;
  }
  main,
  #music_player_wrapper,
  footer dl {
    width: 800px;
  }
  #music_player_wrapper #visualizer {
    width: 750px;
  }
  #album_wrapper .col2 .featured_album_cover {
    width: 90%;
  }
}
@media (max-width: 800px) {
  main,
  #music_player_wrapper,
  footer dl {
    width: 600px;
  }
  #background_design,
  footer {
    width: 768px;
  }
  #music_player_wrapper #canvas_wrapper h1 {
    top: 15px;
  }
  #music_player_wrapper #visualizer {
    width: 550px;
  }
  footer dl dd {
    display: none;
  }
  #content #album_wrapper .col1,
  #content #album_wrapper .col2 {
    padding-left: 20px;
    width: 100%;
  }
  #content #album_wrapper .col2 .featured_album_cover {
    width: 70%;
  }
}
@media (max-width: 600px) {
  main,
  #music_player_wrapper,
  footer,
  footer dl,
  #background_design {
    width: 480px;
  }
  #music_player_wrapper #canvas_wrapper h1 {
    top: 0;
  }
  #music_player_wrapper #player,
  #music_player_wrapper #visualizer {
    width: 380px;
  }
  #music_player_wrapper #player dl dt #current_track_title,
  #music_player_wrapper #visualizer dl dt #current_track_title,
  #music_player_wrapper #player dl dd #current_track_title,
  #music_player_wrapper #visualizer dl dd #current_track_title {
    font-size: 12px;
  }
  #content,
  #sidebar {
    width: 100%;
  }
  #content #album_wrapper .col2 {
    padding-left: 0;
    text-align: center;
  }
  #content #album_wrapper .col2 .featured_album_cover,
  #content #album_wrapper .col2 #share_dropdown {
    margin: 10px auto;
  }
  #content #album_wrapper .col2 #share_dropdown {
    width: 70%;
  }
  #sidebar {
    padding: 40px;
    text-align: center;
  }
  #sidebar #follow_button {
    margin: 15px 25px;
  }
  #sidebar #discography ul {
    display: none;
  }
  footer {
    width: 100vw;
  }
}
@media (max-width: 480px) {
  main,
  #music_player_wrapper,
  footer dl {
    width: 400px;
  }
  footer {
    width: 480px;
  }
  #music_player_wrapper #canvas_wrapper h1 {
    font-size: 24px;
  }
  #music_player_wrapper #player,
  #music_player_wrapper #visualizer {
    width: 300px;
  }
}
@media (max-width: 360px) {
  main,
  #music_player_wrapper,
  footer dl {
    width: 320px;
  }
  #music_player_wrapper #player {
    width: 250px;
  }
  #music_player_wrapper #canvas_wrapper h1 {
    font-size: 20px;
  }
  #content #index_view ul li {
    width: 100%;
  }
}
